// Variables

$absolute-black: #000;
$absolute-white: #fff;

$grey-clr-100: #eeeeee;
$grey-clr-200: #c4c4c4;
$grey-clr-300: #a0a0a0;
$grey-clr-400: #686868;


$dark-clr-100: #404040;
$dark-clr-200: #313131;
$dark-clr-300: #212121;
$dark-clr-400: #101010;

$red-clr-100: #ffa8a8;
$red-clr-200: #f67979;
$red-clr-300: #fa4b4b;
$red-clr-400: #f00000;
$red-clr-500: #cd0000;
$red-clr-600: #b10202;

// Messages SCSS

.messages-page {
    display: flex;
    gap: 0.09rem;
    background-color: rgba($red-clr-400, 0.1);
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 12px;
}

.user-room {
    flex: 0.3;
    min-width: 250px;
    background-color: rgba($dark-clr-400, 0.2);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0.5rem;
    

    h3 {
        padding-left: 1rem;
        font-size: 1.8em;
    }

    .search {
        border: none;
        outline: none;

        padding: 1rem;
        margin-top: 2rem;
        width: 100%;
        border-radius: 100px;
        border: 1px solid $grey-clr-400;
        background-color: transparent;
        font-size: 1em;
        color: $grey-clr-400;
    }

    .chat-users {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        padding-top: 1rem;

        .chat-user {
            display: flex;
            align-items: center;
            gap: 1rem;

            padding: 0.875rem 1rem;
            border-radius: 8px;
            cursor: pointer;

            transition: background .3s ease-in;
        }

        .chat-user:hover {
            background-color: rgba($red-clr-200, 0.2);
        }

        .chat-user .user-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .name {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .message {
                color: $dark-clr-100;
            }
        }

        .chat-user .user {
            width: 70px;
            height: 70px;
            border: 1px solid transparent;
            border: 1px solid $grey-clr-400;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background-color: $grey-clr-200;
            border-radius: 50%;
        }
    }
}

.chat-room {
    flex: 0.7;
    height: 80vh;

    .start-chat{
        height: 100%;
        display: grid;
        place-items: center;
    }

    .chat{
        display: flex;
        flex-direction: column;
        height: 100%;

        .chat-header {
            padding: 1rem 3.875rem;
            background-color: rgba($dark-clr-400, 0.2);
            border-top-right-radius: 12px;
            border-bottom:  2px solid rgba($dark-clr-400, 0.1);
        }

        .chat-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-inline: 3.875rem;
            padding-top: 1rem;
            overflow-y: auto;

            .date {
                text-align: center;
                color: $red-clr-100;
            }

            .message-left {
                margin-right: auto;
                min-width: 250px;
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 8px;
                padding: 1rem;
                background-color: rgba($dark-clr-400, 0.1);
                box-shadow: 1px 1px 0px 1px rgba($dark-clr-400, 0.1);
            }

            .message-right {
                margin-left: auto;
                min-width: 250px;
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 8px;
                padding: 1rem;
                background-color: rgba($red-clr-400, 0.1);
                box-shadow: 1px 1px 0px 1px rgba($dark-clr-400, 0.1);
            }
        }

        .chat-footer {
            display: flex;
        }

        .chat-footer form {
            display: flex;
            gap: 1rem;
            width: 100%;
            padding: 1rem 3.875rem;

            input {
                flex: 1;
                outline: none;
                border: 1px solid $grey-clr-300;
                border-radius: 100px;
                padding: 0.875rem 2rem;
                background: $grey-clr-100;
            }

            button {
                display: flex;
                align-items: center;
                height: 100%;
    
                outline: none;
                border: none;
                border-radius: 100px;
    
                padding: 0.875em 2rem;
                font-weight: 600;
                color: $absolute-white;
                background: $red-clr-500;
                cursor: pointer;
    
                transition: background .3s ease-in;
            }

            button:hover {
                background: $red-clr-600;
            }
        }
    }
}